/* Colores
#142850 Azul Oscuro
#27496d Azul Mate Oscuro
#00909e Azul Brillante
#dae1e7 Gris claro


*/


@import "./Vars.scss";
@import "./Media.scss";

body {
    margin: 0;
    font-family: $theme-font;
    background: $main-color;
  }
  
* {
    box-sizing: border-box;
}
